.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divf, .divq, .divr {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divf {
    height: 50px;
    background-color: darkblue;
    color: white;
}

.divf > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divq {
    min-height: 80px;
    background-color: aliceblue;
    color: darkblue;
    font-weight: bold;
}

.divr { 
    border: 1px solid gainsboro; 
}

.divr2 { 
    padding: 20px;
}
.divr2 > span {
    display: inline-flex;
    justify-content: left;
    flex-direction: column;

    font-weight: bold;
}
input {
    display: inline-flex;
    justify-content: center;
    align-items: center;  
    width: 70%;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box; 
  }