.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
}

.main {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.mainbox1, .mainbox2 {  
    display: flex;
    
    margin-top: 20px;
}

.mainbox1 {
    width: 30vw;
    height: 90vh;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.mainbox2 {
    width: 50vw;
    height: 90vh; 
    justify-content: center;
    align-items: top;
}

.dtdiv1 {
    display: flex;
    width : 30vw ;
    height: 8vh ;
    border: 1px solid gainsboro;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 14px;
}

.dtdiv1:hover, .dtdiv1:active {
    background-color: darkblue;
    color: white;
    font-size: 20px;
}

.detail {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    background-color: beige;
    padding: 10px;
}

.lired {
    color: white;
    background-color: red;
}