/* * {
    margin: 0px;
    padding: 0px;
} */
.content {
    width: 100vw;
    height: 100vh;

    display: flex; 
    justify-content: center;
    align-items: top;

    padding: 10px;
}

.conleft {
    width: 35vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: top;  
    margin: 20px 10px;
}
.conleft > ul,  .conleft > div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    list-style: none; 
}
input[type=text] {
    width: 150px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    display: inline-flex;
    margin: 5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.conleft > div {
    background-color: darkblue;
    padding: 20px;
}
.uli, .ulis{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
}
.uli:hover , .uli:active, .ulis   {
    background-color: gainsboro;
    color: blue;
    font-weight: bold;
}    
.conright {
    width: 50vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;  
    margin: 10px; 
}

.concard {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px;
    background-color: darkblue;
    color: white;
}

.concard > div {
    width: 80%;
    font-size: 1.2em;
} 

.concard >.conkw {
    font-size: 0.8em;
    color: aliceblue;
}
.concard img {
    width : 100%;
    height: 200px;
}


.gallt {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inbox {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0px;
    background-color: darkblue;
    color: white; 
}