.bheader {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: darkblue;
    color: white;
}

h1 {
    font-size: 5vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.rowDiv, .rowDiv0 {
    display: flex;
    justify-content: center;
    align-items: center; 
    width : 60vw;
    height: 6vh;
    border-bottom: 1px solid gainsboro;
}
.rowDiv0 {
    background-color: aliceblue; 
}
.rowDiv:hover, .rowDiv:active {
    background-color: beige;
}

.rowDay {
    width : 60vw;
    height: 6vh;
    padding: 10px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}


.col {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#colrank {
    width: 10%; 
}
#colmovieNm {
    width: 60%; 
}
#colsalesAmt {
    width: 20%; 
}
#colrankInten {
    width: 10%; 
}

.spup {
    color: brown;
}

.spdown {
    color: blue;
}